@import "tailwindcss"; /* permite escrever classes diretamente no TSX ou JSX*/

/*aplica o mesmo box-sizing para todos os elementos da pagina*/
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #0b0d10; /*cor de fundo global para aplicacao*/
}